@font-face {
    font-family: "Gill Sans";
    src: url("./assets/fonts/GillSans.woff2") format("woff2"),
         url("./assets/fonts/GillSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
    height: 100%;
}
