body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dde5fd;
    color: #2b2839;
    border-bottom: 3px solid #d8cefe;
    border-radius: 10px;
}

img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.border-blue {
    border: 1px dotted blue;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    float: left;
}

#left {
    float: left;
    width: 30%;
}

#right {
    float: left;
    width: 70%;
}

#icon {
    height: 35px;
    width: 35px;
}

#avatar {
    height: 90%;
    width: 90%;
    padding: 10px;
}