body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  img {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .border-blue {
    border: 1px dotted blue;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    float: left;
  }
  
  #left {
    float: left;
    width: 30%;
  }
  
  #right {
    float: left;
    width: 70%;
  }
  
  #icon {
    height: 35px;
    width: 35px;
  }
  
  #avatar {
    height: 90%;
    width: 90%;
    padding: 10px;
  }
  
  #almamater {
    text-decoration: none; 
    display: flex; 
    justify-content: right;
    color: black;
    font-size: 16px;
  }