.root {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .root {
        width: 100%;
        padding: 0;
    }
}