.footer {
  width: 100vw !important;
  margin-top: auto;
  padding: 0.5rem 0;
  background-color: var(--primary-bg);
  border-top: 1px solid var(--accent-color);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.footer-copyright {
  color: var(--secondary-text);
  font-size: 0.8rem;
  margin: 0;
  line-height: 1;
} 